body
{
    background-color: rgb(206, 177, 120);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}
div 
{ 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#tshirt
{
    background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
}
#boots 
{background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  #last{
    font-size: 30px;
  }

  #boots{
    font-size: 30px;
  }

  
  #tshirt{
    font-size: 30px;
  }
